img {
    width: 300px;
}

.media-body {
    position: relative;

    p {
        padding-bottom: 50px;
    }

    .image-score {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}
